
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);




body { color: #232323; margin: 0 auto 100px; padding: 0; 
   font-family: 'Lato', sans-serif;
   font-size: 20px; line-height: 24px; text-align: center; font-weight: 300;  }

   		.content { width: 460px; margin: 150px auto 0; text-align: left; padding: 3px 20px; }
#course .content { width: 690px; margin-top: 50px;  }

h1 { margin-top: 0; padding-top: 0; font-weight: 100; font-size: 44px; margin-bottom: 0; margin-left: -3px; line-height: 1.1em;}
h2 { margin-bottom: 0; }
h3 { font-weight: 300; margin-bottom: 0; }

.mainlink { font-weight: 100; font-family: Lato; font-size: 30px; display: block; margin-left: -2px; }
a { text-decoration: none; font-weight: 300; color: #000000; }


.page { width: 450px; border: 1px solid #bababa; margin: 50px auto 20px; 
		text-align: left; padding: 30px; position: relative; }
.widepage { width: 600px !important; }

.schedule li { margin-top: 15px; }
.weekday { color: gray; font-weight: 300; }


.tiny { line-height: 1.4em; font-size: 12px; }
.small { line-height: 1.4em; font-size: 16px; }
 

/* Act Intro formatting */

		 h1 { padding-bottom: 60px; }
 .act-title { text-transform: capitalize; letter-spacing: 4px; font-size: 20px; text-align: center; }
  .act-name { font-size: 36px; text-align: center; font-weight: bold; }

 .act-quote { font-size: 20px; text-align: center; padding-bottom: 40px; }


/* 18 Nav */

  .nav18     { font-size: 14px; font-weight: 400; margin-top: 0; padding-top: 0; margin-bottom: 10px; border-bottom: 1px solid #bababa; text-align: center;  background: #ededed; line-height:16px;}
  .nav18 ol  { list-style-type: none; margin: 0 auto; padding: 0; height: 55px;  background: #ededed; display: block; width: 648px; }
  .nav18 li  { float: left; margin-top: 12px; }
  .nav18 a   { display: block; padding: 7px 5px; width: 20px; border-radius: 25px; background: #ededed; margin-right: 4px; border: 1px solid transparent; }
  .nav18 a:hover 		  { background: #FFFFFF; }
  .nav18 a.disabled 	  { color: #9a9a9a; }
  .nav18 a.disabled:hover { background: transparent; cursor: default; }
  .nav18 .active 		  { display: block; padding: 7px 5px; width: 20px; border-radius: 25px; margin-right: 4px; }
  .nav18 .active 		  { background: white; font-weight: 700; color: #FF1200; border: 1px solid #565656; cursor: default; }

  button { border: 1px solid #bababa; margin: 20px auto 20px !important; 
    text-align: left; padding: 10px 30px; background: #ededed; font-weight: 300; font-family: Lato;
    font-size: 15px !important; }


  .sidebar { width: 140px; float: right; margin-right: -200px; font-size: 15px; line-height: 1.2em; text-align: left; }

  /*.censor { background: #232323; padding: 2px; border: 2px solid white; }
display: inline-block;
    

*/
  .censor {
    white-space: pre-wrap;
  }

  .smaller-censor {
    position: absolute;
    width: 547px; height: 245px; left: -16px; top: 68px;
    background: url("images/smaller-censor.png") 100% 100% no-repeat;
  }

  .bigger-censor {
    position: absolute;
    width: 526px; height: 627px; top: 318px; left: -9px;
    background:  url("images/bigger-censor.png") 100% 100% no-repeat;

  }



  .sanguine { color: #a91313; font-weight: 400; }
  .subtle   { color: #ababab; }
  
  
  .me-said  { display: block; background: #efefef; border: 2px solid white; padding: 6px 15px; border-radius: 25px; font-size: 90%;}
  .you-said { display: block; background: #e1e1e1; border: 2px solid white; padding: 6px 15px; border-radius: 25px; font-size: 90%; }

